.minimap {
	-fx-border-color: rgb(180, 180, 180);
	-fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgb(180, 180, 180), 5, 0, 0, 0);
}

.minimap-node {
    -fx-stroke: grey;
    -fx-stroke-type: inside;
    -fx-stroke-width: 1;
    -fx-fill: rgb(249, 247, 250);
}

.minimap-node:selected {
    -fx-fill: derive(rgb(249,247,250), -5%);
}

.minimap-locator {
    -fx-border-color: rgba(135, 206, 250, 0.65);
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-background-color: rgba(255, 255, 255, 0);
}