.root {
	-background-color: rgba(240, 235, 242, 0.9);
	-border-color: rgba(160, 160, 160, 0.8);
	-halo-color: rgba(80, 80, 80, 0.8);
	-title-color:  linear-gradient(to bottom, rgb(0, 50, 60), rgb(0, 80, 80));
}

.titled-node-background {
	-fx-background-color: -background-color;
	-fx-background-insets: 1;
	-fx-border-width: 0;	
}

.titled-node-background:selected {
	-fx-background-color: derive(-background-color, -5%);
}

.titled-node-border {
	-fx-stroke: -border-color;
	-fx-stroke-width: 1;
	-fx-stroke-type: inside;
	-fx-fill: null;
	-fx-effect: dropshadow(gaussian, rgb(150, 150, 150), 5, 0, 1, 1);
}

.titled-node-selection-halo {
	-fx-stroke: -halo-color;
	-fx-opacity: 0.6;
	-fx-stroke-type: inside;
	-fx-stroke-line-cap: butt;
	-fx-fill: null;
}

.titled-node-header {
	-fx-padding: 2 5 2 5;
	-fx-background-color: -title-color;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: -border-color;
	-fx-opacity: 0.9;
}

.titled-node-title {
	-fx-font-size: 11;
	-fx-text-fill: white;
}

.titled-node-close-button {
	-fx-background-color: null;
	-fx-border-color: null;
	-fx-padding: 0 0 0 0;
}

.titled-node-close-button .icon {
	-fx-fill: -background-color;
}

.titled-node-close-button:hover .icon {
	-fx-fill: white;
}

.titled-node-close-button:pressed .icon {
	-fx-fill: derive(-background-color, -5%);
}

.titled-connector {
	-fx-border-color: -border-color;
	-fx-border-width: 1;
	-fx-stroke-type: inside;
	-fx-background-color: white;
	-fx-opacity: 0;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.titled-connector:selected {
	-fx-background-color: derive(white, -4%);
	-fx-opacity: 0.6;
}

.titled-connector:hover, .titled-connector:allowed, .titled-connector:forbidden, .titled-connector:selected:hover {
	-fx-background-color: white;
	-fx-opacity: 0.6;
}

.titled-connector:pressed {
	-fx-background-color: derive(white, -2%);
	-fx-opacity: 0.6;
}

.titled-connector-forbidden-graphic {
	-fx-stroke: -border-color;
	-fx-stroke-width: 1;
	-fx-fill: null;
}

.titled-tail  {
	-fx-stroke: derive(-border-color, 50%);
	-fx-effect: dropshadow(one-pass-box, rgb(220, 220, 220), 5, 0, 1, 1);
}

.titled-tail-endpoint  {
	-fx-stroke: derive(-border-color, 50%);
	-fx-stroke-type: inside;
	-fx-fill: derive(-background-color, 50%);
	-fx-effect: dropshadow(one-pass-box, rgb(220, 220, 220), 5, 0, 1, 1);
}

.titled-skins .default-connection {
	-fx-stroke-width: 1;
	-fx-stroke: -border-color;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.titled-skins .default-connection-background {
	-fx-stroke-width: 7;
	-fx-stroke: transparent;
}

.titled-skins .default-connection-hover-effect {
	-fx-stroke-width: 1;
	-fx-stroke: -border-color;
	-fx-stroke-dash-array: 8 4;
	-fx-stroke-dash-offset: 4;
	-fx-stroke-type: inside;
	-fx-stroke-line-cap: butt;
	-fx-fill: transparent;
}

.titled-skins .default-connection-hover-effect:pressed {
	-fx-stroke-width: 1;
	-fx-stroke: null;
	-fx-stroke-type: inside;
	-fx-fill: null;
}

.titled-skins .default-joint {
	/* Invisible by default but make sure it has the exact same dimensions as for hover and pressed effects. */
	-fx-border-width: 1;
	-fx-border-color: transparent;
	-fx-border-style: solid inside;
	-fx-background-color: transparent;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}

.titled-skins .default-joint:hover, .titled-skins .default-joint:selected:hover {
	-fx-border-color: -border-color;
	-fx-background-color: white;
	-fx-opacity: 0.6;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}

.titled-skins .default-joint:pressed, .titled-skins .default-joint:selected, .titled-skins .default-joint:selected:pressed {
	-fx-border-color: -border-color;
	-fx-background-color: derive(white, -4%);
	-fx-opacity: 0.6;
	-fx-effect: dropshadow(one-pass-box, rgba(180, 180, 180), 5, 0, 1, 1);
}
