# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build Windows Installer

on:
  workflow_dispatch:
  release:
    types: [created]

env:
  VERSION_JFX: 19

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Download Wix
      uses: i3h/download-release-asset@v1
      with:
        owner: wixtoolset
        repo: wix3
        tag: wix3112rtm
        file: wix311-binaries.zip
    - name: Decompress Wix
      uses: DuckSoft/extract-7z-action@v1.0
      with:
        pathSource: wix311-binaries.zip
        pathTarget: ./target/wix
    - name: Add Wix to Path
      run: echo "$HOME/target/wix" >> $GITHUB_PATH
    - uses: actions/checkout@v2
    - name: Download JFX jmod files
      uses: suisei-cn/actions-download-file@v1
      id: jfxjmods
      with:
        url: https://download2.gluonhq.com/openjfx/${{ env.VERSION_JFX }}/openjfx-${{ env.VERSION_JFX }}_windows-x64_bin-jmods.zip
        target: .
    - name: Decompress JFX jmod files
      uses: DuckSoft/extract-7z-action@v1.0
      with:
        pathSource: ${{ steps.jfxjmods.outputs.filename }}
        pathTarget: ./demo/javafx
    - name: Normalize jmod folder
      run: Rename-Item -path "demo\javafx\javafx-jmods-${{ env.VERSION_JFX }}" -newName "win"
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Build with Maven
      run: mvn "-Dgpg.sign.skip=true" -B clean install --file pom.xml
    - uses: actions/upload-artifact@v2
      with:
        name: graph-editor-demo.msi
        path: ./demo/target/*.msi
